.header {
  h1 {
    font-size: 3.375rem;
  }
  p {
    font-size: 1.5rem;
  }
}
.score-sec {
  .score-text {
    font-size: 2rem;
    .score-value {
      font-size: 4rem;
    }
  }
}

.form {
  width: 100%;
  p {
    font-size: 1.6rem;
  }

  label {
    font-size: 1.5rem;
  }
}
.form-header {
  h2 {
    font-size: 2rem;
    margin-left: 1.5rem;
  }
}

.btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.form-btn {
  width: 80%;
  display: block;
  padding: 0.5rem;
  border: none;
  color: #333;
  border: 1px solid #333;
  font-size: 2rem;
  line-height: 1;
  font-family: inherit;
  border-radius: 10px;
  outline: none;
  transition: color 0.2s ease-in;
  cursor: pointer;
  box-shadow: 0 8px 6px rgba(0, 0, 0, 0.5), 4px 8px 6px rgba(0, 0, 0, 0.9);
}
