.header {
  height: 16vh;
  h1 {
    font-size: 5.063rem;
  }
  p {
    font-size: 2rem;
  }
}
.score-sec {
  height: 25vh;
  .score-text {
    font-size: 3.375rem;
    .score-value {
      font-size: 7.594rem;
    }
  }
}

.form {
  width: 100%;
  background-color: inherit;
  p {
    font-size: 3rem;
  }

  label {
    font-size: 2rem;
  }
}
.form-header {
  h2 {
    font-size: 2rem;
    margin-left: 1.5rem;
  }
}
.form-sec {
  height: 100vh;
}
